@import 'mixins';
@import 'variables';

@media (max-width: 700px) {
   body {
       font-size: 14px;
       header{
        display: grid;
        grid-template-columns: repeat(4, auto);
        place-items: center;
        .openMenu, .closeMenu{
            grid-row: 1/2;
            grid-column: 3/-1;
            display: block;
            color: $solid-color2;
            font-size: 1.5rem;
            justify-self: flex-end;
            margin: 0 5px;
        }
        .closeMenu{
            color: $Pwhite;
        }
        .navLinks{
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $solid-color2;
            height: 100vh;
            width: 60vw;
            font-size: 1.5rem;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            z-index: 10;
            li{
                a{
                    color: $Pwhite;
                }
            }
        }
        .active{
            transform: translateX(0);
        }
        a{
            grid-row: 1/2;
            grid-column: 3/4;
        }
       }
       #hero{
        .hero-container{
            .row{
                margin-bottom: 30px;
                 &.row1{
                .hero-text{
                    margin: 0;
                    width: 250px;
                }
                }
                &.row2{
                    img{
                        width: 200px;
                        margin: 5px;
                    }
                }
                }   
            }
        }
        #features{
            display: block;
            .features-box{
                @include flexCenter;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                margin: 0;
                flex-wrap: nowrap;
                .feature{
                    min-width: 200px;
                    @include flexCenter;
                }
            }
            .features-display{
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
                img{
                    width: 80%;
                }
            }
        }
        .testimonials{
            flex-direction: column;
        }
        #pricing{
            .pricing-cards{
                flex-direction: column;
            }
        }
   }
}
body{
    overflow-x: hidden;
}
