$text: #f4fffeea;
$Pwhite :#fff;
$textLte: #110e0e7a;
$solid-light: #e7e7e7;
$solid-color1: rgb(37, 20, 20);
$solid-color2: #140900;
$shadow1: 3px 4px 25px $solid-light;
$shadow2: 0px 4px 12px $solid-color2;